body {
  background-color: gainsboro;
}
h2 {
  color: whitesmoke;
  background-color: teal;
  text-align: center;
}
button {
  color: whitesmoke;
  background-color: teal;
  padding: 7px;
  border: transparent;
  margin-top: 10px;
  border-radius: 3px;
}
button :hover {
  outline-color: purple;
}
input {
  margin-top: 10px;
  margin-right: 0;
}

.jumbotron {
  margin-top: 10px;
  background-color: whitesmoke;
  color: black;
  text-align: left;
  font-size: 14px;
}
.search-section {
  background-color: lightgrey;
  margin-top: -8px;
  margin-right: 8px;
  margin-bottom: -50px;
}
